# Python
__pycache__/
*.py[cod]
*.pyo
.python-version
.env
.venv
venv/

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json

# IDEs
.vscode/
.idea/
